[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
numpy = "*"
pandas = "*"
ucimlrepo = "*"
certifi = "*"
seaborn = "*"
matplotlib = "*"
joblib = "*"
scipy = "*"
mlxtend = "*"
mysqlclient = "*"
django-filter = "*"
django-cors-headers = "*"
scikit-learn = "==1.4.2"

[dev-packages]

[requires]
python_version = "3.12"
